@media screen and (max-width: 1100px){
    .main1-container > h1{
        font-size: 50px !important;
        width: 100% !important;
    }

    .main1-container{
        padding-right: 10% !important;
    }

    .btn-join{
        width: 100% !important;
    }

    .btn-learn{
        width: 100% !important;
        margin-top: 20px;
    }

    /* main2 */

    .main2-article2{
        margin-left: 0% !important;
    }
    
    .main2-article2, .main2-article1{
        width: 100% !important;
        padding: 3%;
    }

    .m1a2-text h1{
        font-size: 10px !important;
    }
    
    .m1a2-img{
        min-width: 90px !important;
        margin-right: 20px;
    }

    .m4a2{
        min-width: 100%;
    }

    .invest-card{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        padding: 20px;
        flex-wrap: wrap;
    }

    #iphone{
        width: 40vw;
        min-width: 300px;
        position: relative;
        left: -30px !important;
    }

    .invest-text, .invest-phone{
        min-width: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .invest-text{
        margin: 0% !important;
        display: flex;
        justify-content: center !important;
    }

    .invest-text > p{
        text-align: center;
    }

    .invest-text h1{
        min-width: 20px !important;
        text-align: center !important;
    }

    .invest-btn, .invest-btn-learn{
        margin: 5px;
        width: 100%;
        height: fit-content;
        font-size: 15px;
    }

    .invest-button{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

    .invest-btn-learn, .invest-btn{
        width: 100% !important;
        margin-right: 0% !important;
    }
}