@media screen and (max-width: 1100px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        grid-template-areas: 
            'header header '
            'main main '
            'footer footer';
    }

    .footer{
        position: relative;
        top: 20px;
        bottom: -10vh;
        display: grid;
        grid-auto-flow: auto;
        grid-template-columns: 50vw !important;
        grid-template-rows: 1fr auto;
        height: fit-content !important;
        justify-content: center !important;
        grid-template-areas: 
            'footer-1'
            'footer-2'
            'ctto';
    }

    .footer-2{
        width: 100%;
        margin-top: 50px;
    }

    .f-texts{
        font-size: 18px;
        width: auto;
    }
    
    .f2-texts{
        font-size: 18px;
        width: auto;
        color: #fff;
    }

    .ctto{
        margin-top: 10px;
        margin: 0% !important;
    }

    .f-btn{
        width: 100px !important;
        height: fit-content !important;
    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .nav > .nav-btn > label:hover{
        background-color: rgb(255, 255, 255);
        color: #03082b;
        border: 3px solid #0d6efd;
        border-radius: 3px;
        color: #0d6efd;
        padding: 1px 8px 1px 8px;
        /* height: 35px; */
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        padding: 0%;
        margin-top: 15px;
        background: rgb(10, 24, 51);
        border-radius: 16px;
        height: 10px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .nav > .nav-links > ul li a {
        display: block;
        width: 100%;
    }
    
    .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    .nav > .nav-links > ul li a{
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
        margin-left: 33%;
    }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .get-started{
        width: 100px;
        height: fit-content;
        font-size: 12px;
    }

    .logo{
        width: 150px !important;
        margin-left: 10px !important;
    }

    .phone{
        margin-left: 40px;
        width: 400px;
        z-index: -1;
    }

    .title{
        color: #fff !important;
        left: 0;
        font-size: 36px !important;
        font-weight: bolder;
        display: flex;
        align-items: center;
        width: fit-content;
        text-align: start;
    }
    
    .description{
        color: #fff !important;
        width: fit-content;
        padding-top: 5px;
        text-align: start;
    }

    .text{
        margin: 0%;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .btn-title{
        justify-content: start;
    }

    .blur{
        position: absolute;
        left: -1000px;
        top: -50px;
    }

    .feature{
        top: 20px;
        flex-wrap: wrap;
        font-weight: normal;
        color: #ffffff88;
        margin-bottom: 10px !important;
    }

    .companies{        
        margin: 3px 15px 3px 15px;
        width: 100px;        
    }

    .reasons-text{
        flex-direction: column !important;
        margin: 10% 20% 0% 20% !important;
    }

    .why-1, .why-2{
        width: 100% !important;
    }

    .why-2{
        text-align: start !important;
        margin-top: 20px;
    }

    .card{
        width: 400vw;
        min-width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #00ffee2a;
        border: 2px solid #29FCEF;
        border-radius: 15px;
        color: #29FCEF;
        margin: 20px;
    }

    .card-btn{
        display: flex;
        flex-direction: row;
    }

    .card-btn-learn, .card-btn-start{
        width: 150px !important;
        margin: 5px;
    }

    .how-title{
        font-size: 30px !important;
    }

    .how-p{
        width: 350px !important;
    }

    .c-title{
        font-size: 30px !important;
        text-align: center;
        margin: 5%;
    }

    .c-cards{
        width: 200vw;
        min-width: 250px !important;
    }

    .c-card{
        margin: 0px 30px 0px 30px;
        width: 100%;
        min-width: 250px !important;
    }

    .currencies{
        width: 100% !important;
    }

    .invest{
        margin-top: 10% ;
    }

    .invest-card{
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        padding: 20px;
    }

    #iphone{
        width: 40vw;
        min-width: 300px;
        position: relative;
        left: -30px !important;
    }

    .invest-text, .invest-phone{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .invest-text{
        margin: 0% !important;
        display: flex;
        justify-content: center !important;
    }

    .invest-text > p{
        text-align: center;
    }

    .invest-text h1{
        min-width: 50px;
        text-align: center;
    }

    .invest-btn, .invest-btn-learn{
        margin: 5px;
    }

    .invest-button{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}