@media screen and (max-width: 1100px){
  .main3{
    position: relative;
    bottom: -20px;
  }

  .m3c3{
    flex-wrap: wrap-reverse !important;
    padding: 30px !important;
  }

.sub{
    width: 100%;
    text-align: center;
  }

  .author{
    padding: 20px !important;
  }

  .media-icon{
    font-size: large;
  }
}

@media screen and (max-width: 710px){
  .m1c1 h1{
    font-size: 2rem !important;
  }

  .main-1{
    display: flex;
    justify-content: center;
    align-items: center !important;
  }

  .cont1, .cont2{
    width: 100% !important;
  }

  .author{
    padding: 10% !important;
    margin: 0% !important;
  }

  .media-icon{
    font-size: 24px !important;
  }

  .quote{
    padding: 20px !important;
    font-size: 18px !important;
  }

      /* subscribe */
      .main3{
        height: 50vh !important;
        padding: 20px !important;
    }

    .main3-c3{
        padding: 2% !important;
        height: 30vh !important;
    }
}