*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-color: #00041E !important;
    overflow-x: hidden!important ;
}

.container{
    display: grid;
    margin-bottom: 0% !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 350px;
    height: 100vh;
    grid-template-areas: 
        'header header '
        'main main '
        'footer footer';
}

.nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-btn {
    display: none;
    color: #fff !important;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-top: 8px;
}
.nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #29FCEF !important;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

}
.nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;   
}
.nav > .nav-links > ul li{
    display: inline-block;
}
.nav > .nav-links > ul li:hover{
    border-radius: 5px;
}

.nav > #nav-check {
    display: none;
}

.nav .nav-links ul a.icon{
    margin-left: 80px;
    margin-right: 10px;
}

.nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

.logo{
    width: 200px;
}

.btn::placeholder{
    color:aliceblue !important;
}

.btn{
    width: 150px;
    height: 50px;
}

.email::placeholder{
    color: #29FCEF;
}

.email{
    background-color: #00ffee2a;
    border: 2px solid #29FCEF !important;
}

header{
    grid-area: header;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    grid-area: main;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

main .article{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: #00041E;
    color: #29FCEF;
    height: 500px !important;
    border-top: 2px solid #29FCEF;
    grid-area: footer;
    padding: 50px;
    width: 100%;
    position: relative;
    bottom: -300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        'footer-1 footer-2'
        'ctto ctto';
}

img{
    width: 300px;
}

/* classes */
.phone{
    width: 600px;
    z-index: 1;
}

.text{
    display: flex;
    flex-direction: column !important;
    margin-top: 130px;
}

.title{
    color: #fff !important;
    left: 0;
    font-size: 3vw !important;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 40vw;
    text-align: end;
}

.description{
    color: #fff !important;
    width: 40vw;
    padding-top: 5px;
    text-align: end;
}

.btn-title{
    width: 60vw;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 40vw;
}

.learn-more{
    background-color: #ffffff41;
    border: 1px solid white;
    color: #fff;
}

.learn-more::placeholder{
    opacity: 200%;
}

.learn-more:hover{
    background-color: #030836;
    color: #fff !important;
}

.card-btn-start:hover,
.card-btn-learn:hover{
    background-color: #fff;
    color: #00041E;
}

.card-btn-learn::value{
    color: #fff;
}

.blur{
    width: 1600px;
    position: absolute;
    left: -700px;
    top: -100px;
    z-index: -1;
}

.blur-2{
    width: 1600px;
    position: absolute;
    left: -900px;
    top: 1500px;
    z-index: -1;
}

.blur-3{
    width: 1600px;
    position: absolute;
    left: -700px;
    top: 3000px;
    z-index: -1;
}

.feature{
    background-color: #29fcee26;
    width: 100% !important;
    padding: 10px;
    color: #ffffffa1;
    font-weight: bolder;
    position: relative;
    top: -22px;
}

.companies{
    width: 150px;
    margin: 0px 60px 0px 60px;
}

.f-texts{
    color: #fff;
    font-size: 18px;
    width: 600px;
}

.f2-texts{
    font-size: 18px;
    width: 500px;
    color: #fff;
}

.f-btn{
    background-color: #29FCEF !important;
    color: #00041E !important;
    position: relative;
    left: -15px;
    height: 45px;
}

.medias{
    width: 200px;
}

.footer-1{
    grid-area: footer-1;
}

.footer-2{
    grid-area: footer-2;
}

.ctto{
    grid-area: ctto;
    width: 100%;
    border-top: 2px solid #29FCEF;
    text-align: center;
}

.f-ctto{
    margin-top: 30px;
}

/* reasons style */

.reasons-text{
    display: flex;
    justify-content: space-between;
    margin: 100px 200px 0px 200px;
}

.why-1{
    color: #29FCEF;
    font-weight: bolder;
    font-size: 30px;
    width: 50%;

}

.why-2{
    color: #29FCEF;
    width: 50%;
    text-align: end;
}

.card-p{
    text-align: center;
    margin: 20px 50px 0px 50px;
}

.card-icon{
    width: 100px;;
}

.card{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00ffee2a;
    border: 2px solid #29FCEF;
    border-radius: 15px;
    color: #29FCEF;
    margin: 20px;
}

.reasons-cards{
    margin: 10px 150px 20px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reasons{
    width: 100%;
}

.card-btn-start{
    background-color: #29FCEF;
    margin: 10px;
    width: 200px;
}

.card-btn-start::placeholder{
    color: #03082b !important;
}

.card-btn-learn{
    background-color: #00ffee2a;
    border: 2px solid #29FCEF;
    color: #29FCEF;
    margin: 10px;
    width: 200px;
}

.card-btn-learn::placeholder{
    color: #29FCEF;
}

/* hows style */

.hows{
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 200px 0px 200px;
}

.hows-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between !important;
    align-items: center;
    width: 100%;
}

.how-title{
    color: #0d6efd;
    font-weight: bolder;
    font-size: 50px;
}

.how-p{
    color: #fff;
    text-align: center;
    width: 500px;
    margin-top: -10px !important;
}

.how-img, .how-card{
    width: 350px;
}

.hows-cards{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.how-card{
    margin: 20px;
}

.how-text{
    color: #0d6efd;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 10px;
    text-align: center;
}

.how-p-2{
    color: #fff;
    text-align: center;
}

/* currency styles */

.c-title{
    color: #29FCEF;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
}

hr{
    color: #29FCEF;
    font-weight: 500;
}

.currency{
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px 200px 0px 200px;
}

.currencies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.c-img{
    width: 70px;
}

.c-name{
    color: #29FCEF;
    font-weight: bold;
}

.c{
    color: #fff;
    margin-top: -2px;
}

.c-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.c-texts{
    margin-left: 10px;
    margin-top: 15px;
}

.c-up{
    display: flex;
    width: 300px;
}

.c-cards{
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    background-color: #00ffee2a;
    border: 2px solid #29FCEF;
    border-radius: 15px;
    color: #29FCEF;
    margin: 20px;
}

.c-card{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: start;
}

.c-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.c-description{
    color: #fff;
}

.invest{
    color: #29FCEF;
    margin-top: 25px;
    text-decoration: none;
}

/* start invest */

.start-invest{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.invest-card{
    background-image: url(/assets/public/container.svg);
    background-color: #0d6efd;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    align-items: center;
    width: 80%;
    border-radius: 30px;
    margin-top: 20%;
    display: flex;
    flex-direction: row;
    padding: 10px
}

.invest-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 5%;
}

.invest-text h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    width: fit-content;
    margin: 0%;
}

.invest-text p{
    color: #fff;
    font-size: 1rem;
    width: 100%;
    margin-top: 20px;
}

.invest-phone{
    width: 50%;
}

#iphone{
    width: 30vw;
    margin-left: 50px;
}

.invest-btn{
    background-color: #fff;
    color: #0d6efd;
}

.invest-btn{
    background-color: #fff;
    color: #0d6efd;
    width: 150px;
    margin-right: 10px;
}

.invest-btn-learn{
    background-color: #ffffff5f;
    border: 2px solid #fff;
    width: 150px;
    color: #fff;
}

/* news css */

.news{
    width: 100%;
    height: fit-content;
    padding: 10% 10% 0% 10%;
}

.news-1 > h1{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    width: 500px;
    align-items: center;
}

.news-1{
    margin: 0px 30px;
}

.news-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.browse-btn{
    background-color: #fff;
    color: #0d6efd;
    width: 200px;
}

.browse-btn:hover{
    background-color: #0d6efd;
    color: #fff;
}

.news-card{
    background-color: #00ffee16;
    width: 40%;
    border-radius: 19px;
    height: fit-content;
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.news-img{
    width: 100%;
}

.news-text{
    margin: 30px;
}

.bi{
    color: #29FCEF;
}

.news-text p{
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 40px 0px;
}

.news-a{
    text-decoration: none;
    color: #29FCEF;
    font-size: 18px;
}