*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0%;
    background-color: #00041E !important;
    overflow-x: hidden!important ;
}

.container{
    display: grid;
    margin-bottom: 0% !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 350px;
    height: 100vh;
    grid-template-areas: 
        'header header '
        'main main '
        'footer footer';
}

.nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-btn {
    display: none;
    color: #fff !important;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-top: 8px;
}
.nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #29FCEF !important;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

}
.nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;   
}
.nav > .nav-links > ul li{
    display: inline-block;
}
.nav > .nav-links > ul li:hover{
    border-radius: 5px;
}

.nav > #nav-check {
    display: none;
}

.nav .nav-links ul a.icon{
    margin-left: 80px;
    margin-right: 10px;
}

.nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

.logo{
    width: 200px;
}

.btn::placeholder{
    color:aliceblue !important;
}

.btn{
    width: 150px;
    height: 50px;
}

header{
    grid-area: header;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    grid-area: main;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
}

main .article{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
}

.footer{
    background-color: #00041E;
    color: #29FCEF;
    height: 400px !important;
    border-top: 2px solid #29FCEF;
    grid-area: footer;
    padding: 50px;
    width: 100%;
    position: relative;
    bottom: -300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        'footer-1 footer-2'
        'ctto ctto';
}

img{
    width: 300px;
}

/* classes */
.phone{
    width: 600px;
    z-index: 1;
}

.text{
    display: flex;
    flex-direction: column !important;
    margin-top: 130px;
}

.title{
    color: #fff !important;
    left: 0;
    font-size: 3vw !important;
    font-weight: bolder;
    display: flex;
    align-items: center;
    width: 40vw;
    text-align: end;
}

.description{
    color: #fff !important;
    width: 40vw;
    padding-top: 5px;
    text-align: end;
}

.btn-title{
    width: 60vw;
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 40vw;
}

.learn-more{
    background-color: #ffffff41;
    border: 1px solid white;
}

.learn-more::placeholder{
    opacity: 200%;
}

.learn-more:hover{
    background-color: #030836;
    color: #fff !important;
}

.blur{
    width: 1600px;
    position: absolute;
    left: -700px;
    top: -100px;
    z-index: -1;
}

.blur-2{
    width: 1600px;
    position: absolute;
    left: 700px;
    top: 1000px;
    z-index: -1;
}

.feature{
    background-color: #29fcee26;
    width: 100% !important;
    padding: 10px;
    color: #ffffffa1;
    font-weight: bolder;
    position: relative;
    top: -22px;
}

.companies{
    width: 150px;
    margin: 0px 60px 0px 60px;
}

.f-texts{
    color: #fff;
    font-size: 18px;
    width: 600px;
}

.f2-texts{
    font-size: 18px;
    width: 500px;
    color: #fff;
}

.f-btn{
    background-color: #29FCEF !important;
    color: #00041E !important;
    position: relative;
    left: -15px;
    height: 45px;
}

.medias{
    width: 200px;
}

.footer-1{
    grid-area: footer-1;
}

.footer-2{
    grid-area: footer-2;
}

.ctto{
    grid-area: ctto;
    width: 100%;
    border-top: 2px solid #29FCEF;
    text-align: center;
}

.f-ctto{
    margin-top: 30px;
}

.reasons-text{
    justify-content: space-between;
    margin: 100px 200px 0px 200px;
}

.why-1{
    color: #29FCEF;
    font-weight: bolder;
    width: 50%;

}

.why-2{
    color: #29FCEF;
    width: 50%;
    text-align: end;
}

.card-p{
    text-align: center;
    margin: 20px 50px 0px 50px;
}

.card-icon{
    width: 100px;;
}

.card{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00ffee2a;
    border: 2px solid #29FCEF;
    border-radius: 15px;
    color: #29FCEF;
    margin: 20px;
}

.reasons-cards{
    margin: 10px 150px 20px 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.reasons{
    width: 100%;
}

@media screen and (max-width: 1100px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        grid-template-areas: 
            'header header '
            'main main '
            'footer footer';
    }

    .footer{
        position: relative;
        top: 20px;
        bottom: -10vh;
        display: grid;
        grid-auto-flow: auto;
        grid-template-columns: 50vw !important;
        grid-template-rows: 1fr auto;
        height: fit-content !important;
        justify-content: center !important;
        grid-template-areas: 
            'footer-1'
            'footer-2'
            'ctto';
    }

    .footer-2{
        width: 100%;
        margin-top: 50px;
    }

    .f-texts{
        font-size: 18px;
        width: auto;
    }
    
    .f2-texts{
        font-size: 18px;
        width: auto;
        color: #fff;
    }

    .ctto{
        margin-top: 10px;
        margin: 0% !important;
    }

    .f-btn{
        width: 100px !important;
        height: fit-content !important;
    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .nav > .nav-btn > label:hover{
        background-color: rgb(255, 255, 255);
        color: #03082b;
        border: 3px solid #0d6efd;
        border-radius: 3px;
        color: #0d6efd;
        padding: 8px;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        padding: 0%;
        margin-top: 15px;
        background: rgb(10, 24, 51);
        border-radius: 16px;
        height: 10px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .nav > .nav-links > ul li a {
        display: block;
        width: 100%;
    }
    
    .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    .nav > .nav-links > ul li a{
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
        margin-left: 33%;
    }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .phone{
        margin-left: 40px;
        width: 400px;
        z-index: -1;
    }

    .title{
        color: #fff !important;
        left: 0;
        font-size: 36px !important;
        font-weight: bolder;
        display: flex;
        align-items: center;
        width: fit-content;
        text-align: start;
    }
    
    .description{
        color: #fff !important;
        width: fit-content;
        padding-top: 5px;
        text-align: start;
    }

    .text{
        margin: 0%;
        padding-top: 20px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .btn-title{
        justify-content: start;
    }

    .blur{
        position: absolute;
        left: -1000px;
        top: -50px;
    }

    /* .blur-2{
        position: absolute;
        left: 1000px;
        top: -50px;
    } */

    .feature{
        top: 20px;
        flex-wrap: wrap;
        font-weight: normal;
        color: #ffffff88;
        margin-bottom: 10px !important;
    }

    .companies{        
        margin: 3px 15px 3px 15px;
        width: 100px;        
    }

    .reasons-text{
        flex-direction: column !important;
        margin: 10% 20% 0% 20% !important;
    }

    .why-1, .why-2{
        width: 100% !important;
    }

    .why-2{
        text-align: start !important;
        margin-top: 20px;
    }

    .card{
        width: 400vw;
        min-width: 300px;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #00ffee2a;
        border: 2px solid #29FCEF;
        border-radius: 15px;
        color: #29FCEF;
        margin: 20px;
    }
}