*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0%;
    background-color: #00041E !important;
}

.container{
    display: grid;
    margin-bottom: 0% !important;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 350px;
    height: 100vh;
    grid-template-areas: 
        'header header '
        'main main '
        'footer footer';
}

.nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-btn {
    display: none;
    color: #fff !important;
}

.nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
    padding-top: 8px;
}
.nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #29FCEF !important;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

}
.nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;   
}
.nav > .nav-links > ul li{
    display: inline-block;
}
.nav > .nav-links > ul li:hover{
    border-radius: 5px;
}

.nav > #nav-check {
    display: none;
}

.nav .nav-links ul a.icon{
    margin-left: 80px;
    margin-right: 10px;
}

.nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
}

.logo{
    width: 200px;
}

.btn::placeholder{
    color:aliceblue !important;
}

.btn{
    width: 150px;
    height: 50px;
}

.email::placeholder{
    color: #29FCEF;
}

.email{
    background-color: #00ffee2a;
    border: 2px solid #29FCEF !important;
}

header{
    grid-area: header;
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: #00041E;
    color: #29FCEF;
    height: 400px !important;
    border-top: 2px solid #29FCEF;
    grid-area: footer;
    padding: 50px;
    width: 100%;
    position: relative;
    bottom: -300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        'footer-1 footer-2'
        'ctto ctto';
}

img{
    width: 300px;
}

.blur{
    width: 1600px;
    position: absolute;
    left: -700px;
    top: -100px;
    z-index: -1;
}

.f-texts{
    color: #fff;
    font-size: 18px;
    width: 600px;
}

.f2-texts{
    font-size: 18px;
    width: 500px;
    color: #fff;
}

.f-btn{
    background-color: #29FCEF !important;
    color: #00041E !important;
    position: relative;
    left: -15px;
    height: 45px;
}

.medias{
    width: 200px;
}

.footer-1{
    grid-area: footer-1;
}

.footer-2{
    grid-area: footer-2;
}

.ctto{
    grid-area: ctto;
    width: 100%;
    border-top: 2px solid #29FCEF;
    text-align: center;
}

.f-ctto{
    margin-top: 30px;
}

/* other styles */

@media screen and (max-width: 1100px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        grid-template-areas: 
            'header header '
            'main main '
            'footer footer';
    }

    .footer{
        position: relative;
        top: 20px;
        bottom: -10vh;
        display: grid;
        grid-auto-flow: auto;
        grid-template-columns: 50vw !important;
        grid-template-rows: 1fr auto;
        height: fit-content !important;
        justify-content: center !important;
        grid-template-areas: 
            'footer-1'
            'footer-2'
            'ctto';
    }

    .footer-2{
        width: 100%;
        margin-top: 50px;
    }

    .f-texts{
        font-size: 18px;
        width: auto;
    }
    
    .f2-texts{
        font-size: 18px;
        width: auto;
        color: #fff;
    }

    .ctto{
        margin-top: 10px;
        margin: 0% !important;
    }

    .f-btn{
        width: 100px !important;
        height: fit-content !important;
    }

    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: auto;
        height: auto;
        padding: 10px;
    }
    .nav > .nav-btn > label:hover{
        background-color: rgb(255, 255, 255);
        color: #03082b;
        border: 3px solid #0d6efd;
        border-radius: 3px;
        color: #0d6efd;
        padding: 8px;
    }

    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        padding: 0%;
        margin-top: 15px;
        background: rgb(10, 24, 51);
        border-radius: 16px;
        height: 10px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .nav > .nav-links > ul li a {
        display: block;
        width: 100%;
    }
    
    .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    .nav > .nav-links > ul li a{
        margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
        margin-left: 33%;
    }

    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }

    .blur{
        position: absolute;
        left: -1000px;
        top: -50px;
    }

    /* other styles here */
}